html {
    height: 100%;
}

body {
    position: relative;
    width: 100%;
    margin: 0;
    padding-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
    font: #fff;
    /* background-image:url("../images/intersection/png") */

    /* sticky footer requirement */
    height: 100%;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

header {
    background: #fff;
    border-bottom: 1px solid #ccc;
    padding: 20px;
}

.wrapper {
    position: relative;
    width: 960;
    margin: auto;
}

div {
    border: 2px solid pink;
}