html {
    height: 100%;
}

body {
    position: relative;
    width: 100%;
    margin: 0;
    padding-top: 0;
    background-image: url("../images/intersection.png");
    font-family: 'Open Sans', sans-serif;
    line-height: 150%;
    font: #fff;
    /* sticky footer requirement */
    height: 100%;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

header {
    background: #fff;
    border-bottom: 1px solid #ccc;
    padding: 20px;
}

.wrapper {
    position: relative;
    width: 960px;
    margin: auto;
}

nav {
    float: right;
}

nav a {
    color: #777;
    line-height: 18px;
    border-left: 1px solid #efefef;
    margin-left: 15px;
    padding-left: 15px;
    text-decoration: none;
}

nav a:first-child {
    border-left: 0 none;
}

#logo {
    background-color: #4aaaa5;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bolder;
    padding: 20px;
    text-decoration: none;
}

.container {
    clear: both;
    width: 960px;
    margin: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 20px;
    position: relative;
    /* sticky footer requirement using Flexbox */
    flex: 1 0 auto;
}

.page {
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
    font-size: 28px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    margin-bottom: 20px;
}

img {
    float: left;
    margin: 0 20px 15px 0;
}

.my_img {
    width: 170px;
    height: 190px;
    border-radius: 10px;
}

footer {
    clear: both;
    width: 100%;
    margin-bottom: 0;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background-color: #666;
    border-top: 8px solid #4aaaa5;
    /* sticky footer using Flexbox */
    flex-shrink: 0;
}

/* Portfolio page styling begins below */

.cards {
    width: 285px;
    height: 200px;
    padding: 0;
    margin: 0 20px 30px 0;
    float: left;
}

.cards:last-child {
    margin-bottom: 0;
}

.cards img {
    width: 100%;
    height: 100%;
}

.banner {
    position: absolute;  
    /* z-index: 1; */
    background-color: #4aaaa5;
    padding: 5px 0 5px 0;
    width: 285px;
    margin-top: 155px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

/* Contact page styling begins below */

#contact-form ul {
    margin-bottom: 20px;
}

#contact-form li {
    margin-bottom: 10px;
}

label, 
input[type=text], 
input[type=email],
textarea {
    display: block;
    width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background-color: #4aaaa5;
    border: 0 none;
}
