html {
    height: 100%;
}

body {
    position: relative;
    width: 100%;
    margin: 0;
    padding-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
    font: #fff;
    /* background-image:url("../images/intersection/png") */

    /* sticky footer requirement */
    height: 100%;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

header {
    background: #fff;
    border-bottom: 1px solid #ccc;
    padding: 20px;
}

.wrapper {
    position: relative;
    width: 960;
    margin: auto;
}

div {
    border: 2px solid pink;
}

nav {
    float: right;
}

nav a {
    color: #777;
    line-height: 18px;
    border-left: 1px solid #efefef;
    margin-left: 15px;
    padding-left: 15px;
    text-decoration: none;
}

nav a:first-child {
    border-left: 0 none;
}

#logo {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bolder;
    padding: 20px;
    text-decoration: none;
}

